/* Responsiveness */
@media (max-width: 1200px) {
  .background-photo {
    height: 70vh; /* Réduit la hauteur sur les écrans plus petits */
  }

  .white-band {
    padding: 10px; /* Augmente l'espacement pour une meilleure lisibilité */
  }

  .sections {
    flex-direction: column; /* Empile les sections pour plus de lisibilité */
    align-items: center; /* Centre le contenu */
  }

  .social-icons {
    justify-content: center; /* Centre les icônes sur les petits écrans */
  }

  .scroll-text {
    font-size: 1.1rem; /* Réduire la taille du texte pour les petits écrans */
  }
}

@media (max-width: 768px) {
  .experience-section {
    flex-direction: column;
  }

  .material-section {
    flex-direction: column; /* Affiche les colonnes en une seule colonne sur les petits écrans */
    align-items: center; /* Centre les éléments */
  }

  .material-column {
    min-width: 100%; /* Force chaque colonne à prendre toute la largeur */
    margin: 5px 0; /* Réduit l'espacement entre les colonnes */
  }

  .popup-content {
    width: 90%; /* Réduit la largeur de la popup sur les petits écrans */
  }

  .sections {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; /* Ajuster l'espacement pour les tablettes */
  }

  .sections h2 {
    margin: 0 8px; /* Ajuster la marge pour les tablettes */
    font-size: 3vw; /* S'assurer que la taille des h2 est uniforme */
  }

  .social-icons {
    justify-content: center;
    margin-top: 10px;
  }

  .social-icons img {
    width: 15px;
  }

  .white-band {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .text-left {
    text-align: center;
  }

  .text-left h1 {
    font-size: 1.2rem;
  }

  .text-left h2 {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .white-band {
    grid-template-columns: 1fr;
    padding: 1px;
    text-align: center;
  }

  .text-left {
    text-align: center;
  }

  .text-left h1 {
    font-size: 1rem;
  }

  .text-left h2 {
    font-size: 0.8rem;
  }

  .sections {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Ajuster l'espacement pour les téléphones */
  }

  .sections h2 {
    margin: 5px 0; /* Ajuster la marge pour les téléphones */
    font-size: 3vw; /* S'assurer que la taille des h2 est uniforme */
  }

  .social-icons {
    justify-content: center;
    margin-top: 5px;
  }

  .social-icons img {
    width: 15px;
  }

  .material-section {
    flex-direction: column; /* Affiche les colonnes en une seule colonne sur les petits écrans */
    align-items: center; /* Centre les éléments */
  }

  .material-column {
    min-width: 90%; /* Force chaque colonne à prendre toute la largeur */
    margin: 4px 0; /* Réduit l'espacement entre les colonnes */
  }

  .popup-content {
    width: 90%; /* Réduit la largeur de la popup sur les petits écrans */
  }
}

/* Modes horizontaux pour tablettes et téléphones */
@media (orientation: landscape) and (max-width: 1000px) {
  .white-band {
    padding: 3px 5px; /* Réduire le padding pour le mode paysage */
  }

  .text-left h1 {
    font-size: 1.5rem; /* Ajuster la taille pour le mode paysage */
  }

  .text-left h2 {
    font-size: 1rem; /* Ajuster la taille pour le mode paysage */
  }
}