body {
  margin: 0;
  font-family: 'Lora', serif; /* Appliquer Lora à tout le texte */
  background-color: #ffffff; /* Fond blanc */
  color: #333; /* Couleur du texte */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
