.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; /* Assurez-vous que le popup est au-dessus des autres éléments */
  }
  
  .popup-content {
    width: 50%;
    max-width: 500px; /* Limitez la largeur maximale à 500px */
    max-height: 500px; /* Limitez la hauteur maximale à 500px */
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    box-sizing: border-box; /* Inclure le padding dans la taille totale */
    cursor: default; /* Assurez-vous que le curseur ne change pas à l'intérieur du contenu */
  }
  
  .popup-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }